$font-family_1: arial, sans-serif;
$background-color_1: #dddddd;
$background-color_2: #a5a5a5;

table {
	font-family: $font-family_1;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}

th {
	border: 1px solid #000000;
	text-align: center;
	padding: 8px;
	text-transform: uppercase;
}

tr {
	&:nth-child(even) {
		background-color: $background-color_2;
	}
}

td.valor {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

td.tipo {
	text-align: center;
}